{% extends 'base.html' %}
{% block title %}AudioBook - All Stories{% endblock %}

{% block body %}
<div class="flex justify-center items-center h-[100vh]">
    {% for i in booksName %}
    <div
        class="!z-5 relative flex flex-col rounded-[20px] max-w-[300px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 m-2 flex flex-col w-28 !p-4 3xl:p-![18px] bg-white undefined">
        <div class="h-full" style="width: 12rem;">
            <div class="relative" style="height: 12rem;">
                <a href="/audiobook/{{i.audioBookId}}">
                    <img src="{{i.audioBookImage.url}}" class="mb-3 h-full w-full rounded-xl 3xl:h-full 3xl:w-full"
                        alt=""></a>
            </div>
            <div class="mb-3 flex items-center justify-between px-1 md:items-start">
                <div class="mb-2">
                    <p class="text-lg font-bold text-navy-700">{{ i.audiobookName }}</p>
                    <p class="mt-1 text-sm font-medium text-gray-600 md:mt-2">{{i.author}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}